@import "bitters/bitters";
@import "neat/neat";

// VARIABLES
// ==Box Model==
$header-height: 60px;
$nav-width: 80px;
$subnav-width: 260px;
$pad: 10px;
$margin: 40px;

html {
  height: 100%;
}

body {
  /*background: url(apple-touch-icon.png) no-repeat center center;*/
}

// LAYOUT
///////////////////////////////////////////////////////////////////////////////

.pane {
	position: fixed;
	top: 0;
}
.offset-header {
	@extend .pane;
	top: $header-height;
	bottom: 0;
	overflow-y: scroll;
}

header {
	@extend .pane;
	height: $header-height;
	padding-top: $pad*2;
	border-bottom: 1px solid $lightest-gray;
}

// Left Nav

.nav {
	@extend .pane;

	header, ul {
		width: $nav-width;
		background-color: $off-black;
	}

	header { 
		text-align: center; 
		color: $medium-gray;
		border-color: $pitch-black;
	}

	ul {
		@extend .offset-header;

		width: $nav-width;
		background-color: $off-black;
	}

	li {
		padding: $pad*2 0;
		margin-bottom: $pad*3;
		text-align: center;

		i { 
			display: block;
			margin-bottom: 3px;
			font-size: 1.4em;
		}

		a { 
			font-size: $small-font-size;
			color: $medium-gray; 

			&:hover { color: white; }
		}

		&.active {
			background-color: $light-orange;			
			
			a { color: white; }
		}
	}
}

// Mid Nav

.mid-tier {
	@extend .pane;
	left: $nav-width;

	header, .subnav {
		width: $subnav-width;
		padding-left: $pad;
		padding-right: $pad;
		background-color: $lightest-blue;
	}

	/*header { border-color: $black; }*/

	.subnav {
		@extend .offset-header;
		padding-top: $pad*2;
	}
}

// Main Content

.main {
	@extend .pane;
	left: $nav-width + $subnav-width;

	header, section {
		padding-left: $pad*2;
		padding-right: $pad*2;
	}

	header {
		left: $nav-width + $subnav-width;
		right: 0;
	}

	section {
		@extend .offset-header;
		padding-top: $pad*2;
	}
}


// MEDIA QUERIES

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  
  /* Styles for mobile */

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

  /* Styles for tablet */

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {

  /* Don't forget your Retina CSS! */
  
  body {
    background-size: 72px 72px;
  }

}